@{
    ViewBag.Title = "Wishes";
    Technica.Models.Currency currency = (Session["currency"] as Technica.Models.Currency);
}


<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Wishlist</li>
</ol>
    
<section class="wishlist">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-9">
                <h2 class="title">Wishlist</h2>
                <table class="items-list">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Product name</th>
                        <th>Product price</th>
                    </tr>
                    @{
                        foreach (Technica.Models.WishProduct item in ViewBag.Wishes)
                        {
                        <tr class="item first">
                            <td class="thumb"><a href="shop-single-item-v1.html"><img src="img/@item.product.Image" /></a></td>
                            <td class="name"><a href="shop-single-item-v1.html">@item.product.Name</a></td>
                            <td class="price">@String.Format("{0:0.0}", item.product.Price / currency.Ratio).Replace(",", ".") @MvcHtmlString.Create(currency.ShortName)</td>
                            <td class="button"><a class="btn btn-primary btn-sm" href="/Cart/Add/@item.product.ID/1"><i class="icon-shopping-cart"></i>Add to cart</a></td>
                            <td class="delete"><a href="/Wish/Remove/@item.wish.ID"><i class="icon-delete"></i></a></td>
                        </tr>
                    }}
                </table>
            </div>

            
        </div>
    </div>
</section>