@{
    ViewBag.Title = "Unknown Error";
}

<body class="page-404">
    <div class="content">
        <div class="inner">
            <div class="block">
                <span>Bam!'</span>
                <p>Our website blow up. I dunno why</p>
                <a class="btn btn-default" href="/">Back home</a>
            </div>
        </div>
    </div>

    <script src="/Scriptsjs/404.js"></script>
</body>