
@{
    ViewBag.Title = "Support";
}

<!--Breadcrumbs-->
<ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li>Support</li>
</ol><!--Breadcrumbs Close-->
<!--Support-->
<section class="support">
    <div class="container">
        <div class="row">

            <!--Left Column-->
            <div class="col-lg-8 col-md-8">
                <h2 class="title">Support/ FAQ</h2>
                <div class="row space-top">
                    <div class="clo-lg-6 col-md-6 col-sm-6 space-bottom">
                        <h4 class="light-weight uppercase">Privacy Policy</h4>
                        <p>
                            This Privacy Policy describes how Technica Inc., its subsidiaries, affiliates, and joint ventures (collectively referred to as the “Company” or “We”) handle your personal information collected via our career placement websites and services (the “Site”).  We may amend this policy at any time by posting a revised version on our Site. The revised version will be effective at the time we post it. If the revised version includes a material change, we will provide you with 30 days’ prior notice by posting notice of the change on this site.  After this 30 day notice period, you will be considered as having expressly consented to all amendments to this policy.
                            If you do not agree to the changes, please contact us to deactivate your account
                            By using this Site, you expressly consent to our collection, storage, use, transfer, and disclosure of your personal information, including any sensitive information you elect to submit. By providing personal information via this Site, you expressly consent to the terms of this Privacy Policy.

                        </p>
                        <a class="btn btn-success btn-sm" href="#">Read more</a>
                    </div>
                    <div class="clo-lg-6 col-md-6 col-sm-6 space-bottom">
                        <h4 class="light-weight uppercase">Agreements</h4>
                        <p>Accessing or changing your personal information
                        You can access, review, and change most of your personal information by logging into the Site. Generally, we will not manually modify your personal information because it is very difficult to verify your identity remotely. You must promptly update your personal information if it changes or is inaccurate. Upon your request, we will deactivate or remove your personal information from our active databases, although some information may be retained as permitted or required by law.
                        We may delete your personal information at any time (including your CV/resume), without any reason. Therefore, please retain your own copy of the personal information provided to us.
                        More detailed information about our privacy practices and our contact information for any questions is available at the Technica Privacy Center</p>
                    </div>
                </div>

                <div class="row">
                    <div class="accordion panel-group" id="accordion">
                        <div class="panel">
                            <div class="panel-heading active">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i></i>FAQ Collapsible section 01</a>
                            </div>
                            <div id="collapseOne" class="collapse in">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i></i>FAQ Collapsible section 02</a>
                            </div>
                            <div id="collapseTwo" class="collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i></i>FAQ Collapsible section 03</a>
                            </div>
                            <div id="collapseThree" class="collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-4">
                <h3>Contact info</h3>
                <div class="cont-info-widget">
                    <ul>
                        <li><i class="fa fa-building"></i>4120 Serdivan, Sakarya, 10035 76 Esentepe</li>
                        <li><a href="#"><i class="fa fa-envelope"></i>mail@technica.com</a></li>
                        <li><a href="#"><i class="fa fa-support"></i>support@technica.com</a></li>
                        <li><i class="fa fa-phone"></i>+90 543765234</li>
                        <li><i class="fa fa-mobile"></i>+90 555 234 54 34</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>