
@{
    ViewBag.Title = "404";
}

<body class="page-404">
    <div class="content">
        <div class="inner">
            <div class="block">
                <span>404</span>
                <p>Sorry... Page not found.</p>
                <a class="btn btn-default" href="/">Back home</a>
            </div>
        </div>
    </div>

    <script src="/Scriptsjs/404.js"></script>
</body>